## Tiny Blocks Examples

In [1]:
# extract blocks
from tiny_blocks.extract import FromCSV
from tiny_blocks.extract import FromSQLQuery

# transform blocks 
from tiny_blocks.transform import DropDuplicates
from tiny_blocks.transform import Fillna
from tiny_blocks.transform import Rename
from tiny_blocks.transform import Merge

# load blocks
from tiny_blocks.load import ToCSV
from tiny_blocks.load import ToSQL

# pipeline operations
from tiny_blocks import FanIn, FanOut, Tee

# mock data
from tests.conftest import add_mocked_data
from tests.conftest import delete_mocked_data

import pandas as pd

In [2]:
add_mocked_data()

In [3]:
# postgres conn string
dsn_conn = "postgresql+psycopg2://user:pass@postgres:5432/db"

In [ ]:
# check the source csv

df = pd.read_csv("/code/tests/data/source.csv", sep="|")
df

In [ ]:
# check the source sql

df = pd.read_sql_table(con=dsn_conn, table_name="source")
df

### Example 1. Basic Pipeline

''' 
Example 1


Read from SQL -> Fill Null -> Drop Duplicates -> Write to CSV

'''

In [ ]:
# extract blocks
from_sql = FromSQLQuery(dsn_conn=dsn_conn, sql="select * from source")

# transform blocks
fillna = Fillna(value="Hola Mundo")
drop_duplicates = DropDuplicates(subset=["a"])

# load blocks
to_csv = ToCSV(path="/code/tests/data/sink.csv")

In [ ]:
# pipeline

from_sql >> fillna >> drop_duplicates >> to_csv

In [ ]:
# check if results exist

df = pd.read_csv(to_csv.path, sep="|")
df

### Example 2. Merging Pipes

'''
Example 2


read SQL -> FillNull -|
                      |-> Merge -> Drop Duplicates -> Write to CSV
read CSV -------------|

'''

In [ ]:
# blocks

# extract
from_sql = FromSQLQuery(dsn_conn=dsn_conn, sql="select * from source")
from_csv = FromCSV(path="/code/tests/data/source.csv")

# transform
fillna = Fillna(value="Hola Mundo")
merge = Merge(how="left", left_on="a", right_on="d")

# load
to_csv = ToCSV(path="/code/tests/data/sink.csv")

In [ ]:
# pipeline

FanIn(from_sql, from_csv >> fillna) >> merge >> to_csv

In [ ]:
# check if results exist

df = pd.read_csv(to_csv.path, sep="|")
df

### Example 3. FanOut

'''
Example 3


read SQL -> FillNull -> | -> Rename columns -> | -> Drop Duplicates -> Write to SQL
                                               |
                                               | -> Write to CSV

'''

In [ ]:
# blocks

# extract
from_sql = FromSQLQuery(dsn_conn=dsn_conn, sql="select * from source")

# transform
fillna = Fillna(value="Hola Mundo")
drop_dupl = DropDuplicates()
rename = Rename(columns={"a": "A"})

# load
to_csv = ToCSV(path="/code/tests/data/sink.csv")
to_sql = ToSQL(dsn_conn=dsn_conn, table_name="FanOut")

In [ ]:
# pipeline

from_sql >> fillna >> rename >> FanOut(to_csv) >> drop_dupl >> to_sql

In [ ]:
# check if results exist

df = pd.read_csv(to_csv.path, sep="|")
df

In [ ]:
df = pd.read_sql_table(con=dsn_conn, table_name="FanOut")
df

### Example 4. Branching with Tee

'''
Example 4


                        | -> Drop Duplicates -> Write to CSV
read SQL -> FillNull -> |
                        | -> Rename columns -> Write to SQL

'''

In [ ]:
# blocks

# extract
from_sql = FromSQLQuery(dsn_conn=dsn_conn, sql="select * from source")

# transform
fillna = Fillna(value="Hola Mundo")
drop_dupl = DropDuplicates()
rename = Rename(columns={"a": "New name"})

# load
to_csv = ToCSV(path="/code/tests/data/sink.csv")
to_sql = ToSQL(dsn_conn=dsn_conn, table_name="Tee")

In [ ]:
# pipeline

pipe_1 = drop_dupl >> to_csv
pipe_2 = rename >> to_sql

from_sql >> fillna >> Tee(pipe_1, pipe_2)

# same as ...
# from_sql >> fillna >> Tee(drop_dupl >> to_csv, rename >> to_sql)

In [ ]:
# check if results exist

df = pd.read_csv(to_csv.path, sep="|")
df

In [ ]:
df = pd.read_sql_table(con=dsn_conn, table_name="Tee")
df

In [ ]:
# tear down dbs and files

In [ ]:
delete_mocked_data()

In [ ]:
# pipeline

pipe_1 = drop_dupl >> to_csv
pipe_2 = rename >> to_sql

from_sql >> fillna >> Tee(pipe_1, pipe_2)

# same as ...
# from_sql >> fillna >> Tee(drop_dupl >> to_csv, rename >> to_sql)

In [ ]:
# check if results exist

df = pd.read_csv(to_csv.path, sep="|")
df

In [ ]:
df = pd.read_sql_table(con=dsn_conn, table_name="Tee")
df

In [ ]:
# tear down dbs and files

In [ ]:
delete_mocked_data()

In [20]:
# pipeline

pipe_1 = drop_dupl >> to_csv
pipe_2 = rename >> to_sql

from_sql >> fillna >> Tee(pipe_1, pipe_2)

# same as ...
# from_sql >> fillna >> Tee(drop_dupl >> to_csv, rename >> to_sql)

In [21]:
# check if results exist

df = pd.read_csv(to_csv.path, sep="|")
df

     a  b           c
0  uno  4         7.0
1  dos  5         8.0
2  dos  6  Hola Mundo

In [22]:
df = pd.read_sql_table(con=dsn_conn, table_name="Tee")
df

     a  b           c
0  uno  4         7.0
1  dos  5         8.0
2  dos  6  Hola Mundo

In [23]:
# tear down dbs and files

In [24]:
delete_mocked_data()