## Tiny Blocks Examples

In [32]:
# extract blocks
from tiny_blocks.extract import FromCSV
from tiny_blocks.extract import FromSQLQuery

# transform blocks 
from tiny_blocks.transform import DropDuplicates
from tiny_blocks.transform import Fillna
from tiny_blocks.transform import Rename
from tiny_blocks.transform import Merge

# load blocks
from tiny_blocks.load import ToCSV
from tiny_blocks.load import ToSQL

# pipeline operations
from tiny_blocks import FanIn, FanOut, Tee

import pandas as pd

### Example 1. Basic Pipeline

'''
Read from SQL -> Fill Null -> Drop Duplicates -> Write to CSV
'''

In [ ]:
# create blocks

from_sql = FromSQL(path=)
fillna = Fillna(value="Hola Mundo")
drop_duplicates = DropDuplicates()
to_csv = ToCSV(path)

In [ ]:
# pipeline

from_sql >> fillna >> drop_duplicates >> to_csv

In [ ]:
# check if results exist

df = pd.read_csv(to_csv.path)
df

### Example 2. Merging Pipes

'''
read SQL -> FillNull -|
                      |-> Merge -> Drop Duplicates -> Write to CSV
read CSV -------------|
'''

In [ ]:
# create blocks
merge = Merge()
to_csv = ToCSV(path)

In [ ]:
# pipeline

FanIn(from_sql >> fillna, from_csv) >> merge >> drop_duplicates >> to_csv

In [ ]:
# check if results exist

df = pd.read_csv(to_csv.path)
df

### Example 3. FanOut

'''
read SQL -> FillNull -> | -> Drop Duplicates -> Rename columns -> Write to CSV
                        |
                        | -> Write to SQL
'''

In [ ]:
# pipeline

from_sql >> fillna >> FanOut(to_sql) >> rename >> to_csv

In [ ]:
# check if results exist

df = pd.read_csv(to_csv.path)
df

### Example 4. Branching with Tee

'''
                        | -> Drop Duplicates -> Write to CSV
read SQL -> FillNull -> |
                        | -> Rename columns -> Write to SQL
'''

In [ ]:
# pipeline

pipe_1 = drop_dupl >> to_csv
pipe_2 = rename >> to_sql

from_sql >> fillna >> Tee(pipe_1, pipe_2)

# # same as
# from_sql >> fillna >> Tee(drop_dupl >> to_csv, rename >> to_sql)

In [ ]:
# check if results exist

df = pd.read_csv(to_csv.path)
df

In [ ]:
# tear down dbs and files